{% extends "base.html" %}
{% block title %}About | My Portfolio{% endblock %}
{% block content %}
<div class="page-container">
    <div class="content-section">
        <h1 class="page-title">About Me</h1>
        <p class="page-description">Developer • Artist • Violinist</p>
        
        <div class="about-content">
            <div class="about-section">
                <h2><i class="fas fa-user-graduate"></i> Background</h2>
                <div class = "profile-grid">
                    <div class ="profile-info">
                        <p>Hi, I am Yishan Lin, a sophomore at Monta Vista High School in the San Francisco Bay Area. I love visual art, music, game development, and coding. Through my creative lens, I aim to build meaningful projects using code that bridge the connection between humanities and technology.</p>
                    </div>
                    <img src="{{ url_for('static', filename='Images/yishan.png') }}" alt="Yishan Lin" class="profile-image">
                </div>
            </div>
            
            <div class="about-section">
                <h2><i class="fa-solid fa-screwdriver-wrench"></i> Skills</h2>
                <div class="skills-grid">
                    <div class="skill-category">
                        <h3>Programming</h3>
                        <p>Python, Java, Game Development (C#, Unity), Web Development (HTML, CSS, Flask).</p>
                    </div>
                    <div class="skill-category">
                        <h3>Art</h3>
                        <p>10+ yrs of study in areas including: Sketching, Painting, Mixed Media, Digital Art, Design.</p>
                    </div>
                    <div class="skill-category">
                        <h3>Music</h3>
                        <p>10+ yrs violin, 2+ yrs double bass, 6+ yrs in top ensembles (SJYS Philharmonic, California All-State, MVHS Chamber Orchestra). </p>
                    </div>
                    <div class="skill-category">
                        <h3>Leadership</h3>
                        <p>2 yrs as summer camp leader at Hongyun Art and 4 yrs as teaching assistant, totaling 250+ volunteer hours.</p>
                    </div>
                </div>
            </div>
            
            <div class="about-section">
                <h2><i class="fas fa-heart"></i> Interests</h2>
                <p>I'm particularly interested in the intersection of technology and art, exploring how technology transforms and unlocks new potentials of art and music. </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
